body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

h1 {
	color: white;
	font-size: 80px;
	font-family: 'Dancing Script', sans-serif;
	text-align: center;
	text-shadow: -2px 1px black;
	text-transform: lowercase;
	margin: 40px auto 0px;
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	margin-bottom: 0px;
}

h4 {
	font-size: 20px;
	margin-bottom: 0px;
}

a {
	color: #720123;
	font-weight: bolder;
	text-decoration: none;

	/*for fade effect on hover*/
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

p a:hover {
	/*color: #efebf7;*/
	text-decoration: underline;
}

p {
	font-size: 16px;
	line-height: 1.4em;
	letter-spacing: 0em;
}

.nav-large {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	/*position: sticky;*/
}

.nav-main {
	height: 60px;
}

.nav-link {
	color: gray;
	display: inline-block;
	margin: 0 1em;
	letter-spacing: .1em;
	text-decoration: none;
	text-shadow: 2px 0 10px black;
	text-transform: uppercase;
	vertical-align: center;
}

.nav-link:hover {
	color: white;
}

.nav-dark {
	background-color: #0E0E0E;
	background-image: url("images/bg.jpg");
	/*background: radial-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3)), url("images/bg.jpg");*/
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.4);
	position: fixed;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
}

.dropdown-content a {
	color: white;
	margin: 0px;
	padding: 6px 10px;
	text-decoration: none;
	text-transform: lowercase;
	text-align: left;
}

.nav-main .dropdown-content a {
	display: inline-block;
}

.nav-dark .dropdown-content a {
	display: block;
	background-color: #0E0E0E;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.home-link {
	color: white;
	font-size: 40px;
	font-family: 'Dancing Script', sans-serif;
	text-align: center;
	text-shadow: 2px 0 10px black;
	text-transform: lowercase;
	padding-bottom: 15px;
}

.intro-section {
	/*background-image: url("images/title-image.jpg");*/
	background: linear-gradient(to top, #0E0E0E00 40%, #0E0E0E 100%);
	background-size: 100%;
	color: white;
	text-align: center;
	min-height: 650px;
	top: 0;
}

.intro-section h3 {
	display: inline-block;
	text-shadow: -1px 1px black;
	margin: 15px;
}

.section {
	padding: 0px 120px 60px;
}

.content {
	width: 65%;
}

.section-divider {
	text-align: center;
}

.section-divider img {
	width: 30%;
}

#our-wedding {
	background-image: url("images/toms-town-crop.jpg");
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-top: 60px;
}

#details-container {
	padding-top: 120px;
	top: 0;
}

footer {
	background-image: url("images/footer.jpg");
	background-size: 100%;
	bottom: -20px;
	/*box-sizing: border-box;*/
	position: relative;
	height: 120px;
}

footer p {
	color: white;
	font-size: 14px;
	margin: 0px;
	padding: 85px 15px 15px;
	text-align: right;
}
